# git ignore file

# python
env/
.vscode/
build/
__pycache__
# vscode
*.code-workspace
*.xlsx
old/
wrong/
*(Debug)*
img/unsorted/
img/temp*
img/*.svg
img/*.png
# scripts
logit-script.py
regression-analysis.*
.RData
.RHistory
.DS_Store

# the dataset
data/
requests/